
        <div class="layui-form-item">
            <label class="layui-form-label required">商品名称</label>
            <div class="layui-input-block">
                <input type="text" name="goods[title]" class="layui-input" lay-verify="required" lay-reqtext="" placeholder="" value="{$row.title}">
                <tip></tip>
            </div>
        </div>

        <div class="layui-form-item  layui-row layui-col-xs12">
            <label class="layui-form-label required" >所属分类</label>
            <div class="layui-input-block">
                <select name="category_id" lay-search>
                    {foreach $pidMenuList as $vo}
                    <option value="{$vo.id}" {if $category_id==$vo.id}selected=""{/if}>{$vo.name|raw}</option>
                    {/foreach}
                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label required">商品类型</label>
            <div class="layui-input-block">
                <input type="radio" name="goods[type]" value="1" title="实体商品" checked="">
                <input type="radio" name="goods[type]" value="0" title="虚拟商品">
                <tip></tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">商品单位</label>
            <div class="layui-input-block">
                <input type="text" name="goods[sku]" class="layui-input" lay-verify="required" lay-reqtext="" placeholder="" value="{$row.sku}">
                <tip>如: 个/件/包</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">商品属性</label>
            <div class="layui-input-block">
                <input type="checkbox" name="goods[is_new]" value="1" lay-skin="primary" title="新上" {eq name="$row.is_new" value="1"}checked=""{/eq}>
                <input type="checkbox" name="goods[is_hot]" value="1" lay-skin="primary" title="热卖" {eq name="$row.is_hot" value="1"}checked=""{/eq}>
                <input type="checkbox" name="goods[is_discount]" value="1" lay-skin="primary" title="促销" {eq name="$row.is_discount" value="1"}checked=""{/eq}>
                <tip></tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">商品图片</label>
            <div class="layui-input-block layuimini-upload">
                <input name="thumb" class="layui-input layui-col-xs6" lay-verify="required" placeholder="请上传分类图片" value="{$row.thumb}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="thumb" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_thumb" data-upload-select="thumb" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">其他图片</label>
            <div class="layui-input-block layuimini-upload">
                <input name="thumb_url" class="layui-input layui-col-xs6" lay-verify="required" placeholder="请上传商品图片" value="{$row.thumb_url}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="thumb_url" data-upload-number="more" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_thumb_url" data-upload-select="thumb_url" data-upload-number="more" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">原价</label>
            <div class="layui-input-block">
                <input type="text" name="goods[market_price]" class="layui-input" lay-verify="required" placeholder="" value="{$row.market_price}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">现价</label>
            <div class="layui-input-block">
                <input type="text" name="goods[price]" class="layui-input" lay-verify="required" placeholder="" value="{$row.price}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">成本</label>
            <div class="layui-input-block">
                <input type="text" name="goods[cost_price]" class="layui-input" lay-verify="required" placeholder="" value="{$row.cost_price}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">虚拟销量</label>
            <div class="layui-input-block">
                <input type="text" name="goods[virtual_sales]" class="layui-input" lay-verify="required" placeholder="" value="{$row.virtual_sales}">
                <tip>前端真实销量 = 虚拟销量 + 真实销量</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">重量</label>
            <div class="layui-input-block">
                <input type="text" name="goods[weight]" class="layui-input" lay-verify="required" placeholder="" value="{$row.weight}">
                <tip>商品重量设置空或0，取首重（设置配送模板相关）</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">库存</label>
            <div class="layui-input-block">
                <input type="text" name="goods[stock]" class="layui-input" lay-verify="required" placeholder="" value="{$row.stock}">
                <tip>商品的剩余数量</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">减库存方式</label>
            <div class="layui-input-block">
                <input type="radio" name="goods[reduce_stock_method]" value="0" title="拍下减库存" {eq name="$row.reduce_stock_method" value="0"}checked=""{/eq}>
                <input type="radio" name="goods[reduce_stock_method]" value="1" title="付款减库存" {eq name="$row.reduce_stock_method" value="1"}checked=""{/eq}>
                <input type="radio" name="goods[reduce_stock_method]" value="2" title="永不减库存" {eq name="$row.reduce_stock_method" value="2"}checked=""{/eq}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">不可退货退款</label>
            <div class="layui-input-block">
                <input type="radio" name="goods[no_refund]" value="1" title="是" {eq name="$row.no_refund" value="1"}checked=""{/eq}>
                <input type="radio" name="goods[no_refund]" value="0" title="否" {eq name="$row.no_refund" value="0"}checked=""{/eq}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否上架</label>
            <div class="layui-input-block">
                <input type="radio" name="goods[status]" value="1" title="是" {eq name="$row.status" value="1"}checked=""{/eq}>
                <input type="radio" name="goods[status]" value="0" title="否" {eq name="$row.status" value="0"}checked=""{/eq}>
            </div>
        </div>


