<style type="text/css">
.layui-card {border:1px solid #f2f2f2;border-radius:5px;}
.icon {margin-right:10px;color:#1aa094;}
.icon-cray {color:#ffb800!important;}
.icon-blue {color:#1e9fff!important;}
.icon-tip {color:#ff5722!important;}
.layuimini-qiuck-module {text-align:center;margin-top: 10px}
.layuimini-qiuck-module a i {display:inline-block;width:100%;height:60px;line-height:60px;text-align:center;border-radius:2px;font-size:30px;background-color:#F8F8F8;color:#333;transition:all .3s;-webkit-transition:all .3s;}
.layuimini-qiuck-module a cite {position:relative;top:2px;display:block;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}
.welcome-module {width:100%;height:210px;}
.panel {background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
.panel-body {padding:10px}
.panel-title {margin-top:0;margin-bottom:0;font-size:12px;color:inherit}
.label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
.layui-red {color:red}
.main_btn > p {height:40px;}
.layui-bg-number {background-color:#F8F8F8;}
.layuimini-notice:hover {background:#f6f6f6;}
.layuimini-notice {padding:7px 16px;clear:both;font-size:12px !important;cursor:pointer;position:relative;transition:background 0.2s ease-in-out;}
.layuimini-notice-title,.layuimini-notice-label {
    padding-right: 70px !important;text-overflow:ellipsis!important;overflow:hidden!important;white-space:nowrap!important;}
.layuimini-notice-title {line-height:28px;font-size:14px;}
.layuimini-notice-extra {position:absolute;top:50%;margin-top:-8px;right:16px;display:inline-block;height:16px;color:#999;}
</style>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>数据统计</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">实时</span>
                                                        <h5>用户统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$res.member}</h1>
                                                        <small>当前用户总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">实时</span>
                                                        <h5>商品统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$res.goods}</h1>
                                                        <small>当前商品总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-orange">实时</span>
                                                        <h5>今日注册</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$res.list}</h1>
                                                        <small>今日注册总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-green">实时</span>
                                                        <h5>订单统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$res.order}</h1>
                                                        <small>当前订单总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>快捷入口</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10 layuimini-qiuck">
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:;" layuimini-content-href="member.user/index" data-title="会员列表" data-icon="fa fa-list">
                                                <i class="fa fa-list"></i>
                                                <cite>会员列表</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:;" layuimini-content-href="goods.home/index" data-title="商品管理" data-icon="fa fa-shopping-cart">
                                                <i class="fa fa-shopping-cart"></i>
                                                <cite>商品管理</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:;" layuimini-content-href="order.home/index" data-title="订单列表" data-icon="fa fa-file-text">
                                                <i class="fa fa-file-text"></i>
                                                <cite>订单列表</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:;" layuimini-content-href="page.notice/index" data-title="公告管理" data-icon="fa fa-dot-circle-o">
                                                <i class="fa fa-dot-circle-o"></i>
                                                <cite>公告管理</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:;" layuimini-content-href="finace.uprecord/index" data-title="充值记录" data-icon="fa fa-calendar">
                                                <i class="fa fa-calendar"></i>
                                                <cite>充值记录</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:;" layuimini-content-href="plugin.index/index" data-title="我的插件" data-icon="fa fa-cogs">
                                                <i class="fa fa-cogs"></i>
                                                <cite>我的插件</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:;" layuimini-content-href="plugin.cloud/index" data-title="插件市场" data-icon="fa fa-puzzle-piece">
                                                <i class="fa fa-puzzle-piece"></i>
                                                <cite>插件市场</cite>
                                            </a>
                                        </div>
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a href="javascript:;" layuimini-content-href="finace.withdrawsts/index" data-title="提现统计" data-icon="fa fa-area-chart">
                                                <i class="fa fa-area-chart"></i>
                                                <cite>提现统计</cite>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>余额排行</div>
                            <div class="layui-card-body layui-text">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="180">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>排名</td>
                                        <td>用户ID</td>
                                        <td>
                                            余额
                                        </td>
                                    </tr>
                                    {foreach $member as $key=>$vo }
                                    <tr>
                                        <td>{$vo.ph}</td>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.credit2}</td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>订单排行</div>
                            <div class="layui-card-body layui-text">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="180">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>排名</td>
                                        <td>用户ID</td>
                                        <td>
                                            订单总数
                                        </td>
                                    </tr>
                                    {foreach $list as $key=>$vo }
                                    <tr>
                                        <td>{$vo.ph}</td>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.count}</td>
                                    </tr>
                                    {/foreach}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-fire icon"></i>版本信息</div>
                    <div class="layui-card-body layui-text">
                        <table class="layui-table">
                            <colgroup>
                                <col width="180">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>框架名称</td>
                                <td>
                                    HaSog {$version}
                                </td>
                            </tr>
                            <tr>
                                <td>HaSog 版本</td>
                                <td>v{$version}</td>
                            </tr>
                            <tr>
                                <td>服务器系统及 PHP</td>
                                <td>{$serverinfo}</td>
                            </tr>
                            <tr>
                                <td>服务器软件</td>
                                <td>{$serversoft}</td>
                            </tr>
                            <tr>
                                <td>服务器 MySQL 版本</td>
                                <td>{$dbversion}</td>
                            </tr>
                            <tr>
                                <td>介绍</td>
                                <td>HaSog（全名 HaSog商城）基于TP6框架 的一套 微信社交电商分销系统</td>
                            </tr>
                            <tr>
                                <td>Gitee</td>
                                <td>
                                    <a href="https://gitee.com/orzice/hasog" target="_blank">Gitee 下载</a>
                                   
                                </td>
                            </tr>
                            <tr>
                                <td>Github</td>
                                <td>
                                   <a href="https://github.com/orzice/hasog" target="_blank">Github 下载</a>
                                   
                                </td>
                            </tr>
                            <tr>
                                <td>联系我们</td>
                                <td>
                                   <a href="https://oauth.acgice.com" target="_blank">https://oauth.acgice.com</a>
                                </td>
                            </tr>
                            <tr>
                                <td>技术支持</td>
                                <td>
                                <a href="https://www.hasog.com" target="_blank">河南幻神科技</a>
                                </td>
                            </tr>
                            <tr>
                                <td>作者邮箱</td>
                                <td>
                                   1073519986@qq.com
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-paper-plane-o icon"></i>公告</div>
                    <div class="layui-card-body layui-text layadmin-text">
                       2333
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    require(["jquery", "easy-admin", "miniAdmin", "miniTab"], function ($, ea, miniAdmin, miniTab) {
        miniTab.listen();
    });
</script>
</body>