
        <div class="layui-form-item">
            <label class="layui-form-label">用户手机</label>
            <div class="layui-input-block">
                <input type="text" name="mobile" class="layui-input" lay-verify="required" lay-reqtext="请输入用户手机" placeholder="请输入用户手机" value="">
                <tip>填写用户手机。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户密码</label>
            <div class="layui-input-block">
                <input type="text" name="password" class="layui-input" lay-verify="required" lay-reqtext="填写用户密码" placeholder="填写用户密码" value="">
                <tip>填写用户密码</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">身份证号</label>
            <div class="layui-input-block">
                <input type="text" name="fid" class="layui-input"  value="">
                <tip></tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="fname" class="layui-input"  value="">
                <tip></tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">黑名单</label>
            <div class="layui-input-block">
                <input type="radio" name="state" value="0" checked="" title="正常">
                <input type="radio" name="state" value="1"  title="拉黑" >
                <tip></tip>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <textarea name="content" class="layui-textarea" placeholder="请输入备注信息"></textarea>
            </div>
        </div>