
        <div class="layui-form-item">
            <label class="layui-form-label">用户手机</label>
            <div class="layui-input-block">
                <input type="text" name="mobile" class="layui-input" lay-verify="required" lay-reqtext="请输入用户手机" placeholder="请输入用户手机" value="">
                <tip>填写用户手机。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户密码</label>
            <div class="layui-input-block">
                <input type="text" name="password" class="layui-input" lay-verify="required" lay-reqtext="填写用户密码" placeholder="填写用户密码" value="">
                <tip>填写用户密码</tip>
            </div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <textarea name="content" class="layui-textarea" placeholder="请输入备注信息"></textarea>
            </div>
        </div>