<style type="text/css">
    p{
        color: #737373;
        font-size:15px;
        font-weight:bold;
    }
</style>
<div class="layuimini-container" style="background: #fff">
    <form id="app-form" class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label">开启账户充值</label>
            <div class="layui-input-block">
                <input type="radio" name="balance[recharge]" lay-filter="balance[recharge]" value="1" title="开启" {eq name="$row.recharge" value="1"}checked=""{/eq}>
                <input type="radio" name="balance[recharge]" lay-filter="balance[recharge]" value="0" title="关闭" {eq name="$row.recharge" value="0"}checked=""{/eq}>
            </div>
            <div style="margin-left: 130px">
                <blockquote class="site-text layui-elem-quote" style="color: #737373">
                    <p style="font-size:15px; color: #737373;font-weight:bold;">是否允许用户对账户余额进行充值</p>
                </blockquote>
            </div>

<!--            <tip>是否允许用户对账户余额进行充值</tip>-->
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">开启余额转账</label>
            <div class="layui-input-block">
                <input type="radio" name="balance[transfer]"  value="1" title="开启" {eq name="$row.transfer" value="1"}checked=""{/eq}>
                <input type="radio" name="balance[transfer]"  value="0" title="关闭" {eq name="$row.transfer" value="0"}checked=""{/eq}>
            </div>
            <div style="margin-left: 130px">
                <blockquote class="site-text layui-elem-quote" style="color: #737373">
                    <p>是否允许用户对账户余额进行转账</p>
                </blockquote>
            </div>
<!--            <tip>是否允许用户对账户余额进行转账</tip>-->
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
        </div>

    </form>
</div>
<script type="text/javascript">
    require(["jquery", "easy-admin"], function ($, ea) {
        ea.listen();
    });
</script>
<script type="text/javascript">
    layui.use(['element','form','jquery'], function(){
        var form = layui.form
            ,element = layui.element
            ,$= layui.$;

        form.on('radio(balance[proportion_status])', function(data){
            if(data.value == 1){
                $(".unset").html('%');
            }else{
                $(".unset").html('元');

            }
        });
        form.on('radio(balance[recharge])', function(data){
            if(data.value == 1){
                $("#recharge").show();
            }else{
                $("#recharge").hide();

            }
        });
    });
    function addRechargeItem(){
        var value  = $('input[name="balance[proportion_status]"]:checked').val();
        if (value == 1) {
            var unit = '%';
        } else {
            var unit = '元';
        }
        var html = '<div class="recharge-item">';
        html += '<label class="layui-form-label"></label>';
        html += '<div class="layui-inline">';
        html += ' <div class="layui-input-inline">';
        html += '满<input type="text" name="balance[enough][]" autocomplete="off" class="layui-input">';
        html += '</div>';
        html += '<div class="layui-input-inline">';
        html += '赠送<input type="text" name="balance[give][]" autocomplete="off" class="layui-input">';
        html += '</div>';
        html += '<span class="layui-badge layui-bg-gray unset">'+unit+'</span>';
        html += '<button type="button"  class="layui-btn layui-btn-danger layui-btn layui-btn-xs" onclick="removeRechargeItem(this)" style="margin-bottom:5px">';
        html += ' X';
        html += '</button>';
        html += '</div>';
        html += '</div>';
        $('.recharge-items').append(html);
    }
    function removeRechargeItem(obj) {
        $(obj).closest('.recharge-item').remove();
    }
</script>