<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <input type="hidden" name="id" value="{$row.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input" lay-reqtext="请输入名称" placeholder="请输入名称" value="{$row.name}">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">付款二维码</label>
            <div class="layui-input-block layuimini-upload">
                <input name="thumb" class="layui-input layui-col-xs6" lay-verify="required" placeholder="付款二维码" value="{$row.qrcode}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="thumb" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_thumb" data-upload-select="thumb" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">二维码/银行卡</label>
            <div class="layui-input-block">
                <input type="radio" name="a_state" value="1" title="二维码" {eq name="$row.a_state" value="1"}checked=""{/eq}>
                <input type="radio" name="a_state" value="0" title="银行卡" {eq name="$row.a_state" value="0"}checked=""{/eq}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">开户行</label>
            <div class="layui-input-block">
                <input type="text" name="bankdeposit" class="layui-input" lay-reqtext="请输入开户行" placeholder="请输入开户行" value="{$row.bankdeposit}">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开户支行</label>
            <div class="layui-input-block">
                <input type="text" name="bankdeposits" class="layui-input" lay-reqtext="请输入开户支行" placeholder="请输入开户支行" value="{$row.bankdeposits}">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开户名</label>
            <div class="layui-input-block">
                <input type="text" name="accname" class="layui-input" lay-reqtext="请输入开户名" placeholder="请输入开户名" value="{$row.accname}">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开户卡号</label>
            <div class="layui-input-block">
                <input type="text" name="accnumber" class="layui-input" lay-reqtext="请输入开户卡号" placeholder="请输入开户卡号" value="{$row.accnumber}">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否开启</label>
            <div class="layui-input-block">
                <input type="radio" name="state" value="1" title="开启" {eq name="$row.state" value="1"}checked=""{/eq}>
                <input type="radio" name="state" value="0" title="关闭" {eq name="$row.state" value="0"}checked=""{/eq}>
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>
<script type="text/javascript">
    require(["jquery", "easy-admin"], function ($, ea) {
        ea.listen();
    });
</script>