<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('pay.ali_pay/add')}"
               data-auth-edit="{:auth('pay.ali_pay/edit')}"
               data-auth-delete="{:auth('pay.ali_pay/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>

<script type="text/javascript">

require(["jquery", "easy-admin"], function ($, ea) {

    var init = {
        table_elem: '#currentTable',
        table_render_id: 'currentTableRenderId',
        index_url: 'pay.pay_type/index',
        add_url: 'pay.pay_type/add',
        edit_url: 'pay.pay_type/edit',
        delete_url: 'pay.pay_type/delete',
        modify_url: 'pay.pay_type/modify',
        export_url: 'pay.pay_type/export',
    };


            ea.table.render({
                init: init,
                toolbar: ['refresh',
                    // [{
                    //     text: '添加',
                    //     url: init.add_url,
                    //     method: 'open',
                    //     auth: 'add',
                    //     class: 'layui-btn layui-btn-normal layui-btn-sm',
                    //     icon: 'fa fa-plus ',
                    //     extend: 'data-full="true"',
                    // }],
                    // 'export'
                ],
                cols: [[
                    {field: 'id', minWidth: 80, title: 'ID'},
                    {field: 'name', minWidth: 80, title: '名称'},
                    {field: 'icon', minWidth: 80, title: '图标', templet: ea.table.image},
                    {field: 'status', title: '是否开启', minWidth: 130, search: 'select', selectList: {0: '是', 1: '否'}, templet: ea.table.switch},
                    {field: 'create_time', minWidth: 80, title: '创建时间', search: 'range'},
                    {
                        width: 180,
                        title: '操作',
                        templet: ea.table.tool,
                        operat: [
                            [{
                                text: '编辑',
                                url: init.edit_url,
                                method: 'open',
                                auth: 'edit',
                                class: 'layui-btn layui-btn-xs layui-btn-success',
                                extend: 'data-full="true"',
                            }],
                            'delete'
                        ]
                    }
                ]],
            });

            ea.listen();
    
});
</script>