<style type="text/css">
.plugin .bold{
    font-weight: 700;
}
.plugin .sml{
    font-size: 9px !important;
    -webkit-text-size-adjust: none;
}
.plugin p {
    margin-top: 10px;
}
.plugin div.memo {
    margin: 5px;
    padding: 5px;
    border: 1px dotted #DEEFFB;
    background: #FFF;
}
tip{
    color: #737373;
}
</style>
<link rel="stylesheet" href="__STATIC__/lib/layer-mobile-2.0/need/layer.css?v={$version}" media="all">
<div class="layuimini-container">

<form id="app-form" class="layui-form layuimini-form">

    <div class="layuimini-main" id="app">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" >
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>

            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show layui-table-body layui-table-main" >
                    
        <div class="layui-form-item">
            <label class="layui-form-label required">模板名称</label>
            <div class="layui-input-block">
                <input type="text" name="dispatch_name" class="layui-input" lay-verify="required" lay-reqtext="" placeholder="" value="">
                <tip></tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">计费方式</label>
            <div class="layui-input-block">
                <input type="radio" name="calculate_type" value="1" title="根据数量计算" checked="">
                <input type="radio" name="calculate_type" value="0" title="根据重量计算">
                <tip></tip>
            </div>
        </div>


                </div>
            </div>
        </div>
    </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>
<script type="text/javascript">

require(["jquery", "easy-admin", "vue","layer"], function ($, ea, Vue,layer) {

    var form = layui.form;

    var app = new Vue({
        el: '#app',
        data: {}
    });

  //loading带文字
  // layer.open({type: 2,shadeClose: false,content: '加载中'});

    ea.listen();
    
});
</script>